.container-fluid {
  height: 100vh;
}

.header {
  text-align: center;
}

.recipe-app {
  width: 80%;
  margin: auto;
}

.main-container {
  display: flex;
}

.recipe-container {
  flex :2;
}

.ingredient-container {
  flex: 1;
}

.recipe-list-item {
  display: flex;
  justify-content: flex-start;
}

.ingredient-label {
  text-align: center;
}

.ingredient-name {
  font-size: 12px; 
  font-style : italic;
}

.ingredients-list {
  max-height: 425px;
  overflow-x: auto;
}

.badge-recipe {
  margin-right: 8px;
}

.recipe-name {
  margin-right: 8px;
}

.check-box {
  margin-right : 8px;
}


/* handle media queries if needed */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}